/* Style Settings */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Bebas Neue, sans-serif;
    line-height: 1.25;
    max-height: auto;
    letter-spacing: 1.5px;
}

/* Centre Alignment */
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Img 1-Line Alignment */
.img_alignment {
    display: flex;
    flex-wrap: wrap; /* Allows imgs to wrap to new lines */
    gap: 10px;
    justify-content: center;
}

.img_alignment img {
    max-width: auto;
    border-radius: 8px; /* Optional: Rounded corners */
}

@media (max-width: 1920px) {
    .img_alignment img {
        max-width: 100%;
    }
}

/* iframe 1-Line Alignment */
.iframe_alignment {
    display: flex;
    flex-wrap: wrap; /* Allows iframes to wrap to new lines */
    gap: 20px;
    justify-content: center;
    margin: 0;
}

.iframe_alignment iframe {
    max-width: auto;
    border-radius: 0px; /* Optional: Rounded corners */
}

@media (max-width: 1920px) {
    .iframe_alignment iframe {
        max-width: 100%;
    }
}

.text-container {
    display: flex;
    flex-wrap: wrap;
    gap: 42.5%;
    justify-content: left;
    margin: 0;
}

/* Header */
header {
    background-color: #FF573D;
    color: #ffffff;
    padding: 0px 0;
    text-align: center;
    width: 100%;
    position: fixed;
    height: 0px;
}

/* Navigation Bar */
nav {
    background-color: transparent;
    width: 100%;
    position: fixed;
    padding: 18px 0;
    
    /* Dropdown Button */
    .dropbtn {
        background-color: transparent;
        color: #ffffff;
        padding: 0px;
        font-family: Bebas Neue, sans-serif;
        font-size: 16px;
        font-weight: bold;
        border: none;
        line-height: 1.25;
        letter-spacing: 1.5px;
    }

    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }

    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        font-size: 16px;
        font-weight: bold;
        color: #ffffff;
        text-align: center;
        background-color: #FF573D;
        text-decoration: none;
        display: none;
        position: absolute;
        min-width: auto;
        z-index: 1;
    }

    /* Links inside the dropdown */
    .dropdown-content a {
        color: #ffffff;
        background-color: #FF573D;
        padding: 10px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #FF573D;
        color: #21C4B6;
    }

    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {display: block;}

    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #FF573D; 
        color: #21C4B6;
    }
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #ffffff;
    transition: text-shadow 0.3s ease;
    font-weight: bold;
    font-size: 16px;
    text-decoration: none;
}

nav ul li a:hover {
    color: #21C4B6;
    text-decoration: none;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.header-h1 {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2px;

    margin: 0;
    color: #ffffff;
    background-color: #FF573D;
    text-align: center;
    height: 15vh;
    gap: 0;

    background-image: url(''); 
    background-size: auto 250%; /* Makes the iframe cover the entire background */
    background-position: center; /* Centers the iframe */
    background-repeat: no-repeat; /* Prevents the iframe from repeating */
}

a.header-h1 {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: 2px;
    text-decoration: none;
    color: #ffffff;
}

.content {
    font-family: Noto Sans HK, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    color: #ffffff;
    background-color: #F8BC7C;
    text-align: left;
    padding: 8px 0;
    min-height: 95vh;
}

.header-h2 {
    font-weight: bold;
    font-size: 24px;

    margin: 0;
    color: #ffffff;
    background-color: transparent;
    text-align: left;
    padding: 8px 0;
}

.desc-text {
    font-family: Noto Sans HK, sans-serif;
    font-size: 16px;
    font-weight: normal;
    margin: 0;
    color: #ffffff;
    background-color: transparent;
    text-align: left;
    padding: 8px 0;
}

.comment-text {
    font-size: 10px;
    font-weight: normal;
    margin: 0;
    color: #ffffff;
    background-color: transparent;
    text-align: left;
    padding: 8px 0;
}


.inline-link {
    font-weight: bold;
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
    padding: 0px 0;
}

/* Solid border */
hr.solid {
    border-top: 3px solid #bbbbbb;
}

.iframe-container {
    position: center;
    overflow: hidden;
    width: 100%;
    padding: 16px 0;
    border-radius: 30px;
}

.button {
    font-weight: bold;
    display: inline-block;
    padding: 5px 10px;
    background-color: #BD10E0;
    color: #ffd54f; /* White text */
    text-decoration: none; /* Remove underline */
    border-radius: 5px; /* Rounded corners */
    font-size: 16px;
    text-align: center;
}

.button:hover {
    background-color: #BD10E0;
    transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* Main Content */
main {
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
}

/* Footer */
footer {
    background-color: #FF573D;
    color: #ffffff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 15px 0;
    width: 100%;
    bottom: 0;
    position: static;
}